*{
padding: 0%;
  margin: 0%;
   box-sizing: border-box;
    font-family: DINPro-bold;

}

body{
    font-size: 1rem;
    font-family: DINPro-bold;
    line-height: 1.5;
    background-color: rgb(245, 251, 191);
  color: black;
    overflow-x: hidden;

}
.header{
    background: rgb(0, 0, 0);
    display: flex;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    padding: 2rem;
      border: 0.15rem solid black;
      font-family: cursive;
  
}
.bonsai1{
      display: flex;
    border-radius: 10rem;
    justify-content: center;
      align-items: center;
      margin-bottom: 20rem;
      margin-top: 0rem;
      margin: 10rem;
        box-shadow: 5%;
}
.gras{
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 1rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
}
.headerimg_1logo{
    max-height: inherit;
    display: block;
    width: 5rem;
    justify-content: right;
    color: white; 
}